.invoiceContainer{
  width: 665px;
  min-width: 665px;
  max-width: 665px;
  box-sizing: border-box;
  margin: 0 65px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.invoiceContainer__header{
  font-weight: 700;
}

.invoiceContainer__header > span{
  font-weight: 400;
  font-style: italic;
  display: block;
}



.line {
    display: flex;
    flex-direction: row;
  justify-content: space-between;
}

.line > div:first-child {
    text-align: start;
}
.line  > div:last-child {
    text-align: end;
}
.invoiceContainer__logo {
    height:50px;
}

.invoiceContainer__header__title {
    font-size: 1.5rem;
    font-weight: 700;
}

.label {
    font-weight:700;
}